$background-color: #faf9f7;
$navbar-color: white;
$common-border-color: #e8e8e8;
$secondary-text-color: #2f2f2f;

$form-input-background-color: #ececec;
$form-input-border-color: #c1c1c1;
$form-input-border-focused-color: #515151;
$form-input-error-color: #b00d0d;
$form-input-success-color: #346804;

$required-field-color: #b00d0d;

$notification-info-color: #3e81b9;
$notification-info-border-color: #2d699b;
$notification-error-color: #d13e3e;
$notification-error-border-color: #b02020;
$notification-success-color: #30a561;
$notification-success-border-color: #289120;

$password-indicator-tooRisky-color: #d7d7d7;
$password-indicator-risky-color: #8d0e0e;
$password-indicator-correct-color: #9b680a;
$password-indicator-strong-color: #289120;
$password-indicator-veryStrong-color: #289120;
